
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #286830;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px; 
        margin-left: -25px; 
        height: 100%;        
    }
    .section {
        flex: 1;
        text-align: left;
        position: relative;
        height: 100%;
    }
    .section.radio{
        margin-right: -17px;
    }

    .section img {
        width: 100%;
        height: 40%;
        display: none; 
        padding-top: 10px;
    }
    .section img.visible {
        display: block;
    }
    .section button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .calculator-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -10px;
    }
    input {
        margin-top: 10px;
        margin-left: 5px;
        padding: 10px;
        width: 65px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 15px; 
    }
    .button-row {
        display: flex;
        
    }
    
    .button-row button {
        margin: 3px;
        padding: 10px;
        font-size: 20px;
        width: 60px;
        border-radius: 15px; 
    }
   .button-row button.botaoLargo{
       margin: 5px;
        padding: 10px;
        font-size: 25px;
        width: 100px;  
        border-radius: 15px; 
        font-weight: bold;     
   }
   .button-row button.botaoCookie{
        margin: 5px;
        padding: 5px;
        font-size: 16px;
        width: 100px;       
   }
    .hidden {
        display: none;
    }
    .card-icon {
      font-size: 15px;
      color: black; /* cor padrão para paus e espadas */
    }
    .red {
        font-size: 15px;
      color: red; /* cor para ouros e copas */
    }
    .pokerHand {
        font-size: 11px; 
        font-weight: bold;
        display: flex;
        border: 1px solid black; /* Adiciona uma borda cinza */
        /* padding: 5px;  */
        padding-top: 8px;
        width: 85%;   
        height: 7%; 
        background-color: #D3DDDD;     
        border-radius: 15px; /* Arredondamento aumentado */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .pokerHand:has(input[type="radio"]:checked) {
        border: 3px solid red;
    }
    .pokerHand input[type="radio"] {
        appearance: none;
        width: 0px; 
        outline: none; 
    }
    .button-container {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-bottom: 20px;
        
    }
    .contadorSpan {
        position: absolute;
        bottom: 25px;
        left: 10px;
        background-color: rgba(168, 168, 168, 0.596);
        color: #fc0000;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        border-radius: 15px;
        font-family: Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .indicadorMult {
        position: absolute;
        bottom: 25px;
        right: 15px;
        background-color: rgba(168, 168, 168, 0.596);
        color: rgba(0, 0, 0, 0.7);
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 15px;
        /* border-radius: 50%; */
        font-family: Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .EditJogadorSelcionado{
        border: 1px solid #fc0000;    
    }
    .TopDaMesa{ 
        color: white;
    }
    .InforCoringa{
        color: white;   
        font-size: 16px; 
    }
    .InforNomeCoringa{
        color: rgb(253, 186, 63);   
        font-size: 18px; 
        font-weight: bold;
    }
    .card {
        width: 95%;
        height: 95%;
        background-color: #b5c5e7;  
        border: 1px solid #000000;
        border-radius: 15px; /* Arredondamento aumentado */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 12px;
        /* margin: auto; */
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    .card-name {
        background-color: #E0E7ED; /* Fundo do nome da carta alterado para #E0E7ED */
        padding: 5px;
        padding-left: 8px;
        border-radius: 12px; /* Arredondamento aumentado */
        border: 1px solid #000000; /* Adicionando borda preta */
        font-size: 17px;
        font-weight: bold;
    }
    .card-description {
        font-size: 14px;
        padding-top: 8px;
    }

    .box {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .box-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      .close {
        color: #aaa;
        float: right;
        margin-right: 30px;
        font-size: 50px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      
      .edit {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
      }

      .modal {
        display: none;
        appearance: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .modal-content {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 90%;
      }
      
      .closeModal {
        color: #aaa;
        float: right;
        font-size: 100px;
        font-weight: bold;
        margin-right: 50px;
      }
      
      .closeModal:hover,
      .closeModal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      
